@tailwind base;
@tailwind components;
@tailwind utilities;


*, html, body {
    scroll-behavior: smooth;
}
.active .answ {
    max-height: 10rem !important;
}
.answ {
    max-height: 0 !important;
    transition: .4s ease !important;
}
.bxshadw {
    box-shadow: 0px 0px 2px #00000090;
}
.swiper-pagination-bullet-active-main {
    background-color: #01020F !important;
}
.activeLink {
    color: #FCA311 !important;
    border: 1px solid #FCA311 !important;
    border-radius: 8px;
}
.navLink {
    transition: .4s !important;
}