@tailwind base;
@tailwind components;
@tailwind utilities;


*, html, body {
    scroll-behavior: smooth;
}
.active .answ {
    max-height: 10rem !important;
    transition: .4s !important;
}
.answ {
    max-height: 0 !important;
    transition: .4s ease !important;
}
.bxshadw {
    box-shadow: 0px 0px 2px #00000090;
}
.swiper-pagination-bullet-active-main {
    background-color: #01020F !important;
}
.activeLink {
    color: #FCA311 !important;
    border: 1px solid #FCA311 !important;
    border-radius: 8px;
}
.navLink {
    transition: .4s !important;
}
.navLink:hover {
    color: #FCA311;
}
.btn-ux {
    position: relative;
    overflow: hidden;
}
.btn-ux:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    background-color: #00000045 !important;
    width: 20%;
    height: 100%;
    transform: translateX(-6rem);
    transition: .6s;
}
.btn-ux:hover {
    outline: 2px solid #FCA311;
    outline-offset: 4px;
    transition-delay: .2s;
    transition-duration: .04s;
}
.btn-ux:hover:before {
    transform: translateX(13rem); 
}
.btn-proto-two {
    outline: 1px solid #01020F99;
    position: relative;
    overflow: hidden;
    transition-duration: .1s;
}
.btn-proto-two:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    background-color: #00000045 !important;
    width: 20%;
    height: 100%;
    transform: translateX(-6rem);
    transition: .6s;
}
.btn-proto-two:hover {
    outline-offset: 4px;
    transition-delay: .2s;
    transition-duration: .04s;
}
.btn-proto-two:hover:before {
    transform: translateX(13rem); 
}
.img-ux {
    transition: .4s;
}
.relative-div {
    position: relative;
}
.relative-div:hover .img-ux {
    filter: brightness(50%) !important;
}
.relative-div > div {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    visibility: hidden;
}
.relative-div:hover div {
    visibility: visible;
}