@tailwind base;
@tailwind components;
@tailwind utilities;

.active .answ {
    max-height: 10rem !important;
}
.answ {
    max-height: 0 !important;
    transition: .4s ease !important;
}
.bxshadw {
    box-shadow: 1px 1px 3px #00000090;
}
swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main